/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/


@media (prefers-color-scheme: dark) {
  :root {
    --main-text-color: #00CC14;
    --nav-color: #00CC14;
    --nav-font-size: 14px;
    --nav-hover-color: rgba(0 204 20 / 0.6);
    --border-color: #00CC14;
    --button-background-color: #000;
    --button-hover-background-color: #00CC14;
    --main-background-color: #000;
    --text-shadow-color: #000;
    --theme-background: 
      repeating-linear-gradient(to top, #000 0 2px, transparent 2px 4px),
      repeating-linear-gradient(to left, #000 0 2px, transparent 2px 4px),
      linear-gradient(#007f0c 0.1%, #004306 100%);
    --contour-heart: #00CC14;
    --filling-heart: #f00;
    --card-font-weight-title: 758; 
    --card-font-weight-text: 465;
    --link-shadow: rgba(0 204 20 / 0.5);
   }
}

:root.theme-dark {
    --main-text-color: #00CC14;
    --nav-color: #00CC14;
    --nav-font-size: 14px;
    --nav-hover-color: rgba(0 204 20 / 0.6);
    --border-color: #00CC14;
    --button-background-color: #000;
    --button-hover-background-color: #00CC14;
    --main-background-color: #000;
    --text-shadow-color: #000;
    --theme-background: 
      repeating-linear-gradient(to top, #000 0 2px, transparent 2px 4px),
      repeating-linear-gradient(to left, #000 0 2px, transparent 2px 4px),
      linear-gradient(#007f0c 0.1%, #004306 100%);
    --contour-heart: #00CC14;
    --filling-heart: #f00;
    --card-font-weight-title: 785; 
    --card-font-weight-text: 465;
    --link-shadow: rgba(0 204 20 / 0.5);
}

:root.theme-light {
    --main-text-color: #000;
    --nav-color: #000;
    --nav-hover-color: rgba(0 0 0 / 0.6);
    --border-color: #000;
    --button-background-color: #fff;
    --button-hover-background-color: #fff;
    --main-background-color: #fff;
    --text-shadow-color: #fff;
    --theme-background: 
      repeating-linear-gradient(to top, #d3d3d3 0 2px, transparent 2px 4px),
      repeating-linear-gradient(to left, #d3d3d3 0 2px, transparent 2px 4px),
      linear-gradient(#e7e7e7 0.1%, #1a1a1a 100%);
    --contour-heart: #000;
    --filling-heart: #f00;
    --card-font-weight-title: 700; 
    --card-font-weight-text: 400;
    --link-shadow: rgba(0 0 0 / 0.5);	 
}
